.xfce4-panel {
        border: 2px solid rgb(255, 255, 255);
        border-radius: 0px;
        border-width: 2px;
        margin-top: 2px;
        margin-left: 5px;
        margin-right:5px;
        font-family: 'Terminus (TTF)';
        font-size: 12px;
	opacity: 1;
} 
/*Whisker*/
#whiskermenu-button {
	background: #000000;
	color: #ffffff;
	border-color: #000000;
        border-width: 0px;
        margin-top: 4px;
	margin-bottom: 1px;
        margin-right: 0px;
        margin-left: 4px;
        margin: 4px;
	padding: 4px;
        font-family: 'Terminus (TTF)';
        font-size: 12px;
	opacity: 1;
}

#whiskermenu-button:checked {
        background: #ffffff;
	color: #000000;
	border-color: #ffffff;
        border-width: 0px;
        margin-top: 4px;
	margin-bottom: 1px;
        margin-right: 0px;
        margin-left: 4px;
        margin: 4px;
	padding: 4px;
        font-family: 'Terminus (TTF)';
        font-size: 12px;
	opacity: 1;
}

/*Tasklist*/
.xfce4-panel .tasklist .toggle {
        background: #000000;
	color: #f9f9f9;
	border-color: #000000;
        border-width: 1px;
	margin-top: 8px;
	margin-bottom: 2px;
        margin-right: 1px;
        margin-left: 4px;
        margin: 4px;
	padding: 2px;
}

.xfce4-panel .tasklist .toggle:checked {
	background: #ffffff;
	color: #000000;
	border-color: #ffffff;
        border-width: 2px;
        margin-top: 3px;
        margin-left: 2px;
        margin-right: 2px;
        margin: 4px;
	padding: 2px;
}
/*Workspace*/
#pager-3 #xfce-panel-toggle-button {
        background: #000000;
	color: #ffffff;
	border-color: #ffffff;
        border-width: 1px;
	margin-top: 2px;
	margin-bottom: 1px;
	margin: 5px;
	padding: 0px;
}

#pager-3 #xfce-panel-toggle-button:checked {
        background: #ffffff;
	color: #000000;
	border-color: #ffffff;
        border-width: 1px;
	margin: 5px;
	padding: 0px;

}


#pager-3 #xfce-panel-toggle-button:hover {
        background: #ffffff;
	color: #000000;
	border-color: #ffffff;
        border-width: 1px;
	margin-top: 2px;
	margin-bottom: 1px;
	margin: 5px;
	padding: 0px;
}
/*Sound*/
#pulseaudio-button {
        background: #000000;
	color: #ffffff;
	border-color: #ffffff;
        border-width: 2px;
	margin-top: 2px;
	margin-bottom: 1px;
}

#pulseaudio-button:checked {
        background: #ffffff;
	color: #000000;
	border-color: #000000;
        margin-top: 1px;
        border-width: 2px;
	margin-top: 2px;
	margin-bottom: 1px;
}

#pulseaudio-button:hover {
        background: #000000;
	color: #ffffff;
	border-color: #ffffff;
        border-width: 1px;
        margin-top: 2px;
	margin-top: 2px;
	margin-bottom: 1px;
}
/*Clock*/
#clock-button {
        background: #000000;
	color: #ffffff;
	margin: 4px;
	padding: 0px;
}

#clock-button:checked {
        background: #ffffff;
	color: #000000;
	font-size: 12px;
}


#clock-button:hover {
        background: #ffffff; opacity: 1;
	color: #000000;
	font-size: 12px;
}

/*Apllications*/
#applicationmenu-button  {
        background: #000000;
	color: #ffffff;
	border-color: #ffffff;
        border-width: 0px;
        margin-top: 4px;
	margin-bottom: 1px;
        margin-right: 0px;
        margin-left: 4px;
        margin: 4px;
	padding: 4px;
        font-family: 'Terminus (TTF)';
        font-size: 12px;
	opacity: 1;