.xfce4-panel {
 	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px; 
        font-family: 'Terminus (TTF)';
        font-size: 12px;
	opacity: 10;
} 

/*Whisker*/
#whiskermenu-button {
	background: #000000;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
	font-size: 10px;
	margin: 2px;
	padding: 5px;
}

/*#whiskermenu-button:checked {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
}
*/

#whiskermenu-button:hover {
	background: #ffffff; opacity: 0.9;
	color: #000000;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
}

/*Workspace*/
#pager-3 #xfce-panel-toggle-button {
        background: #000000;
	color: #ffffff;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
	margin: 2px;
	padding: 8px;
}

#pager-3 #xfce-panel-toggle-button:checked {
        background: #ffffff;
	color: #000000;
	border-color: #ffffff;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
	margin: 2px;
	padding: 5px;
}


#pager-3 #xfce-panel-toggle-button:hover {
        background: #ffffff; opacity: 0.9;
	color: #282828;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
	margin: 2px;
	padding: 5px;
}


/*Sound*/
#pulseaudio-button {
        background: #1d2021;
	color: #ffffff;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
	margin: 2px;
	padding: 5px;
}

#pulseaudio-button:checked {
	background: #1d2021;
	color: #bbc047;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
	padding: 5px;
}

#pulseaudio-button:hover {
        background: #ffffff;
	color: #000000;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
	padding: 5px;
}

/*Clock*/
#clock-button {
        background: #000000;
	color: #ffffff;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
	margin: 2px;
	padding: 2px;
}

#clock-button:checked {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
	font-size: 12px;
}


#clock-button:hover {
        background: #ffffff; opacity: 0.9;
	color: #000000;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
	font-size: 12px;
}

/*Tasklist*/
.xfce4-panel .tasklist .toggle {
        background: #1d2021;
	color: #f9f9f9;
	border-color: #000000;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
        margin: 1px;
	padding: 0px;
}

.xfce4-panel .tasklist .toggle:checked {
	background: #ffffff;
	color: #ffffff;
	border-color: #000000;
	border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
        margin: 1px;
	padding: 0px;
}